<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="https://smudger194.wordpress.com" target="_blank">https://smudger194.wordpress.com</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/wanasak/customer-management-spa" target="_blank">https://github.com/wanasak/customer-management-spa</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://www.facebook.com/NaWanasak" target="_blank">https://www.facebook.com/NaWanasak</a></div>
            </div>
        </div>
    </div>
</div>